.App {
  text-align: center;
  width: 400px;
  min-height: 500px;
  border-radius:50px;
  background: #6C639E;
  padding-bottom: 3%;
  font-family: "Avenir";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logoBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.titleBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoText{
  font-size: 1.5rem;
  color: #D0D8ED;
  margin: 0;
  padding: 0;
}
.img{
  width: 20%;
  height: 20%;
  object-fit: cover;
  object-position: center;
  
}
.copyIcon{
  width: 18px;
  height: 18px;
  object-fit: cover;
  object-position: center;
  margin-left: 1rem;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #6C639E;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inputContainer{
  position: relative;
  margin-top: 1em;

}

.input {
  width: 350px;
  height: 45px;
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #a8a2c2;
     color: #ffffff;
     border-style: solid;
     border-radius: 11px;
     box-shadow: 0px 0px 3px rgba(255,255,255,.54);
    
}
 .input:focus {
     outline:none;
}
.input::placeholder{
  color: #ffffff;
  opacity: .8;
  font-family: "Avenir";
}
.infoBox{
  margin: 0 3%;
  height: 100%;
  background-color: white;
  border: 1px solid #E7EAFB;
  color: rgb(67, 67, 67);
  border-radius:25px;
  background-image: url('https://i.ibb.co/nsXZVBj/Box-Two.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.infoBox2{
  margin: 0 3%;
  height: 100%;
  background-color: white;
  border: 1px solid #E7EAFB;
  color: rgb(67, 67, 67);
  border-radius:25px;
  background-image: url('https://i.ibb.co/72mLwN4/Box-One.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.infoContainer{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
} 
ul.promptContainer {
  margin: 0;
  padding: 0;
}
.promptContainer{
  text-decoration: none;
  text-align: left;
  font-size: 1.5rem;
  
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
li{
  list-style-type: none;
  padding: 3% 3%;
  margin: 3% 5%;
}
.addButton{
  width: 30px;
  height: 30px;
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promptBox{
    text-decoration: none;
     font-size: 16px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #a8a2c2;
     color: #ffffff;
     border-style: solid;
     border-radius: 11px;
     box-shadow: 0px 0px 3px rgba(255,255,255,.54);
}
.subText{
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0 3%;
  font-weight: 300;
  
}
.myButton {
	border: 0;
  border-radius: 7px;
  color: white;
  padding: 15px;
 position:absolute;
 margin-right: 5%;
  right: 5px;
  top: 5px;
  cursor: pointer;
  
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
