.App {
  text-align: center;
  width: 400px;
  height: 800px;
  border-radius:50px;
  background: #6C639E;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logoBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.titleBox{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.img{
  width: 20%;
  height: 20%;
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #6C639E;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inputContainer{
  position: relative;
  margin-top: 1em;
}

.input {
  width: 350px;
  height: 45px;
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #a8a2c2;
     color: #ffffff;
     border-style: solid;
     border-radius: 11px;
     box-shadow: 0px 0px 3px rgba(255,255,255,.54);
}
 .input:focus {
     outline:none;
}
.infoBox{
  margin: 0 3%;
  height: 100px;
  background-color: white;
  border: 1px solid #E7EAFB;
  color: black;
  border-radius:25px;
  background: rgb(237,244,239);
  background: linear-gradient(45deg, rgba(237,244,239,1) 0%, rgba(210,219,244,0.9098827030812325) 100%);
}
.infoContainer{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
} 
.promptContainer{
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.5rem;
  gap: 1rem;
}
.promptBox{
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #a8a2c2;
     color: #ffffff;
     border-style: solid;
     border-radius: 11px;
     box-shadow: 0px 0px 3px rgba(255,255,255,.54);
}
.subText{
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0 3%;
  
}
.myButton {
	border: 0;
  border-radius: 7px;
  color: white;
  padding: 15px;
 position:absolute;
 margin-right: 5%;
  right: 5px;
  top: 5px;
  cursor: pointer;
  
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
